header {
    position: relative;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    align-content: center;
}


.nav-elements-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: #fff;
}

.header-title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.header-img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.text-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-block {
    width: 50%;
}

.row {
    display: flex;
}

.row3-image-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.row3-text-container {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row3-image {
    position: absolute;
}

.testimonials-section {
    text-align: center;
    padding: 100px 50px;
}

.testimonials-container {
    display: flex;
}

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials-image {
    width: 100px;
    border-radius: 100%;
}